.Questions{
    margin: 24px;
    overflow: scroll;
    
    height: 100vh;
    overflow-y: scroll;
    padding: 16px;
}
.question{
    display: flex;
    flex-direction: column;
}
.title_question{

    margin-top: 24px;
    font-size: 24px;
    font-weight: 600;
}
.text_ask{
    margin-top: 10px; 
    font-size: 16px;
}
.input_ask{
    padding: 8px;
    font-size: 16px;
    margin-top: 0px; 
    margin-bottom: 20px; 
    width: 98%;
    height: 50px;
    border: solid #B1B1B1;
    border-radius: 10px;
    border-width: 1px;
}
.speak{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 16px;
}
.speak_text{
    font-size: 18px;
    font-weight: 600;
}

.pills{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pills_txt{
    margin-top: 16px;
    margin-right: 16px;
    font-size: 18px;

}
.pill_inactive {
    border-radius: 20px;
    border: 1px solid #A675FF;
    display: inline-block;

    color: #000;

        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 12px;
        padding-right: 12px;     
}

.pill_inactive:active {
    border-radius: 20px;
    border: 1px solid #A675FF;  
    background-color: #ffaa66;

    color: #fff;
    cursor: pointer; 
}

.pill_txt{
    font-size: 16px;
}
.post_container{
    margin-top: 20px; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.post{
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #A675FF;
    border-radius: 20px;
    background: #A675FF;
    width: 100%;
    height: 200px;  
}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5%;
    width: 90%;
    height: 20%;
}
.profile_img{
    margin-right: 10px; 
    height: 100%;
}
.profile_name{
    font-size: 20px;
    color: white;
    margin-top: 10px;
}
    .profile_content{
        margin-left: 5%;
    font-size: 18px;
    color: white;
}

.options_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px; 
    width: 100%;
    height: 20px;
}

.options_txt{
    color: white;
    cursor: pointer;
}
.speak_ico{ 
    margin-bottom: 32px;
}
.distancer{
    width: 50%;
}
.btn_submit{
    margin-top: -24px;
    margin-bottom: 24px;
    outline: none;
    background-color: #34ACEB;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 40px;
}