.tutors{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
    height: 100vh;
    overflow-y: scroll;
    
}
.title_tutors{
    font-size: 24px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 16px;
    color: #000000;
}
.boja {
    background-color: #34ACEB;  
}

.radijus{
    border-radius: 15px;
}
.radijus_ri{
    border-radius: 15px;
    margin-left: -30px;
}
.maps{
    z-index: -2;
}