.tutors{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
}
.title_tutors_main{
    font-size: 22px;
    font-weight: 500;
    margin-top: 24px;
    color: #000000;
}
.title_tutors{
    font-size: 24px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 16px;
    color: #000000;
}
.boja {
    background-color: #34ACEB;  
}

.radijus{
    border-radius: 15px;
}   